//navbar
.navbar {
    @include flex(row,space-between,center);
    background-color: $color-primario;

    color: white;
    font-size: $size-text;
    list-style: none;

    img{
        height: 90px;
        width: auto;
        object-fit: cover;
        object-position: center;
        padding: 5px;
    }

    .links {
        display: flex;
        margin: 20px;

        li a {
            text-decoration: none;
            color: white;
            margin-left: 40px;
            transition: 5s;

            &:hover{
                background-color: white;
                background-size: 100% 100%;
                color: $color-primario;
                border: solid rgba(95, 158, 160, 0.247);
                border-radius: 15%;
            }
        }
    }
}